body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0d0d0d;
}

/* Navigation bar */
nav {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #ffffff;
  background-color: #3c3c3c;
  border-radius: 5px;
}

main {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
  font-size: 36px;
  margin-top: 0;
}

.img-container {
  text-align: center;
}

.img-container img {
  width: 200px;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.profile {
  flex-basis: 70%;
}

.profile blockquote {
  font-size: 24px;
  line-height: 1.5;
}

.profile blockquote p:first-of-type {
  margin-top: 0;
}

.profile blockquote p:last-of-type {
  margin-bottom: 0;
}

.list {
  flex-basis: 25%;
  text-align: right;
}

.list .btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}

.list .btn:hover {
  background-color: white;
  color: #333;
}

.discord-container {
    background-color: #7289DA;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.discord-container h3 {
    margin-top: 0;
}

.discord-button {
    display: inline-block;
    background-color: #2C2F33;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.discord-container a {
    color: yellowgreen; 
}

.discord-button:hover {
    background-color: #7289DA;
    color: yellowgreen;
}
