#sidenav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px; /* Adjust the width as needed */
  background-color: #333333;
  padding-top: 50px; /* Adjust the top padding to align with the navigation bar */
  display: flex;
  flex-direction: column;

}

#sidenav a {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em;
  transition: all 0.2s ease-in-out;
}

#sidenav a:hover {
  color: #ffffff;
  background-color: #3c3c3c;
  border-radius: 2em;
}

@keyframes autoHide {
  0% {
    left: 0; /* Start position */
  }
  100% {
    left: -200px; /* End position (off-screen) */
  }
}

/* Start the auto-hide animation after a delay (e.g., 5 seconds) */
#sidenav {
  animation: autoHide 3s forwards; /* "forwards" keeps the final state of the animation */
}

/* Prevent the animation from being applied when the user is scrolling */
#sidenav.is-scrolling {
  animation: none;
}


/* Define the glitch animation */
@keyframes glitch {
  0% {
    transform: skew(0deg);
    opacity: 1;
    text-shadow: 0 0 10px #00c5ff, 0 0 20px #00c5ff, 0 0 30px #00c5ff, 0 0 40px #00c5ff, 0 0 70px #00c5ff, 0 0 80px #00c5ff, 0 0 100px #00c5ff;
  }
  25% {
    transform: skew(5deg);
    opacity: 0.75;
    text-shadow: none;
  }
  50% {
    transform: skew(-10deg);
    opacity: 0.5;
    text-shadow: none;
  }
  75% {
    transform: skew(5deg);
    opacity: 0.25;
    text-shadow: none;
  }
  100% {
    transform: skew(0deg);
    opacity: 1;
    text-shadow: 0 0 10px #00c5ff, 0 0 20px #00c5ff, 0 0 30px #00c5ff, 0 0 40px #00c5ff, 0 0 70px #00c5ff, 0 0 80px #00c5ff, 0 0 100px #00c5ff;
  }
}

