/* Base Colors */
:root {
    --primary-color: #0d0d0d;
    --secondary-color: #2a2a2a;
    --accent-color: #F8B195;
    --text-color: #ffffff;
}

/* Body */
body {
  /* background: linear-gradient(to bottom, #111111, #333333 50%, #111111); */
  /* background: linear-gradient(to bottom, #556B2F, #778899 50%, #556B2F); */
  background: linear-gradient(to bottom, #000000, #333333 50%, #000000);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  min-height: 100vh; /* added this to set a minimum height */
  display: flex; /* added this to use flexbox */
  flex-direction: column; /* added this to make the footer stick to the bottom */
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff; /* change this to the lighter color you want for your headings */
}

p {
  color: white;
}


/* Navigation bar */
nav {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #ffffff;
  background-color: #3c3c3c;
  border-radius: 2em;
}

th {
  color: black;
}

.code-snippet {
    display: flex;
    justify-content: center;
    text-align: left;
    color: black;
}

 /* Style all font awesome icons */
.fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 1em;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 

/* LinkedIn */
.fa-linkedin {
  background: #55ACEE;
  color: white;
} 

/* Github */
.fa-github {
  background: #3B5998;
  color: white;
}

/* Add styles for the container */
.toolsList {
  max-width: 800px;
  margin: 0 auto;
  color: whitesmoke;
}

.blog_section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
}

.blog_section .blog_content .blog_item {
  margin-top: 10px;
  box-shadow: 0 0 20px 0 rgba(6, 22, 58, 0.14);
  background-color: #B0C4DE;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.blog_section .blog_content .blog_item:hover .blog_image img {
  transform: scale(1.1);
}
.blog_section .blog_content .blog_item .blog_image {
  overflow: hidden;
  padding: 0;
}
.blog_section .blog_content .blog_item .blog_image img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.blog_section .blog_content .blog_item .blog_details {
  padding: 25px 20px 30px 20px;
}
.blog_section .blog_content .blog_item .blog_details .blog_title h5 a {
  color: #B22222;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
  transition: all 0.3s;
  text-decoration: none;
}
.blog_section .blog_content .blog_item .blog_details .blog_title h5 a:hover {
  color: #ff5e14;
}
.blog_section .blog_content .blog_item .blog_details ul {
  padding: 0 3px 10px 0;
  margin: 0;
}
.blog_section .blog_content .blog_item .blog_details ul li {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  color: #7f7f7f;
}
.blog_section .blog_content .blog_item .blog_details ul li i {
  padding-right: 7px;
}
.blog_section .blog_content .blog_item .blog_details p {
  border-top: 1px solid #A0522D;
  margin-top: 4px;
  padding: 20px 0 4px;
  color: black;
}
.blog_section .blog_content .blog_item .blog_details a {
  font-size: 16px;
  display: inline-block;
  color: #ff5e14;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.blog_section .blog_content .blog_item .blog_details a:hover {
  color: #020d26;
}
.blog_section .blog_content .blog_item .blog_details a i {
  vertical-align: middle;
  font-size: 20px;
}
.blog_section .blog_content .owl-nav {
  display: block;
}
.blog_section .blog_content .owl-nav .owl-prev span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}
.blog_section .blog_content .owl-nav .owl-prev:hover {
  background: #fff;
  border-color: #ff5e14;
  color: #ff5e14;
}
.blog_section .blog_content .owl-nav .owl-next span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}
.blog_section .blog_content .owl-nav .owl-next:hover {
  background: #fff;
  border-color: #ff5e14;
  color: #ff5e14;
}

.discord-container {
    background-color: #7289DA;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto; /* Set vertical margin to 20px and horizontal margin to auto */
    width: 25%;
    text-align: center; /* Center the text inside the container */
    display: flex; /* Use flexbox to center the container content vertically */
    flex-direction: column; /* Stack container content vertically */
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
}


.discord-container h3 {
    margin-top: 0;
}

.discord-button {
    display: inline-block;
    background-color: #2C2F33;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.discord-container a {
    color: yellowgreen; 
}

.discord-button:hover {
    background-color: skyblue;
}

@media screen and (max-width: 767px) {
  /* stack badges on top of each other for small screens */
  .badge-container {
    flex-direction: column;
    height: auto;
  }
  
  .badge-column {
    margin: 10px 0;
  }
  /* Navigation bar */
  nav {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5em 0;
  }

  nav ul li a {
    font-size: 1em;
    padding: 0.2em;
  }
}

footer {
  margin-top: auto;
}
