---
title: Random Hacker's Blog
---

<h2><u>A Hackgineer's Blog</u></h2>

<div class="image-container">
  <img src="/images/intro.png" class="responsive-image">
</div>

<div style="display: flex; justify-content: center; margin-top:10px;">
  <div style="color: white; padding: 10px; width: 50%;">
    <p style="text-align: left; font-size: 1.2em;">
    I created this to give back to the IT Security Community that has given so much to me as well as have a place to come back too because I can never remember all this stuff! Hopefully you will find something of value and continue to pass it off to the next generation! I have high aspirations for this Trench so bookmark me<br><br>
    A few detailed WriteUps are <a href="/writeups">here</a>, my favorites will always be on the main page! Many more to come I just wanted to get this blog started. I wanted to do something different so I created Code-Ups, which is basically a Write-Up but with way more code. Here I push the limits with <a href="/codeups">Hacking with Code</a></p> 
	</p>
  </div>
 </div>


<h3 style="color: greenyellow; font-size: 1.2em;">My Favorite pwns</h3>


<section class="blog_section">
	<div class="container">
	    <div class="blog_content">
	        <div class="owl-carousel owl-theme">
	        	<div class="blog_item">
                  <div class="blog_image">
                      <img class="img-fluid" src="/images/WriteUps/BS/logo.png" alt="images not found">
                      <span><i class="icon ion-md-create"></i></span>
                  </div>
                  <div class="blog_details">
                      <div class="blog_title">
                          <h5><a href="/posts/HTB/2023-07-22-[HTB]BroScience">BroScience!!</a></h5>
                      </div>
                      <ul class="no-bullets">
                          <li><i class="icon ion-md-person"></i>HacktheBox</li>
                          <li><i class="icon ion-md-calendar"></i>Apr 1, 2023</li>
                      </ul>
                      <p>BroScience tests our patience in one of HTB's latest machines</p>
                  </div>
              </div>                        
              <div class="blog_item">
                  <div class="blog_image">
                      <img class="img-fluid" src="/images/WriteUps/Socket/socket.png" alt="images not found">
                      <span><i class="icon ion-md-create"></i></span>
                  </div>
                  <div class="blog_details">
                      <div class="blog_title">
                          <h5><a href="/posts/HTB/2023-07-22-[HTB]Socket">Socket Writeup !_!</a></h5>
                      </div>
                      <ul class="no-bullets">
                          <li><i class="icon ion-md-person"></i>HacktheBox</li>
                          <li><i class="icon ion-md-calendar"></i>Jun 30, 2023</li>
                      </ul>
                      <p>I love Socket Programming, so you already know what is about to happen...</p>
                  </div>
              </div>                        
              <div class="blog_item">
                  <div class="blog_image">
                      <img class="img-fluid" src="/images/WriteUps/Derailed/logo.png" alt="images not found">
                      <span><i class="icon ion-md-create"></i></span>
                  </div>
                  <div class="blog_details">
                      <div class="blog_title">
                          <h5><a href="/posts/HTB/2023-07-22-[HTB]Derailed">Derailed</a></h5>
                      </div>
                      <ul class="no-bullets">
                          <li><i class="icon ion-md-person"></i>HacktheBox</li>
                          <li><i class="icon ion-md-calendar"></i>Jul 10, 2023</li>
                      </ul>
                      <p>Nearly got Derailed on this one!</p>
                  </div>
              </div>
	        </div>
	    </div>
	</div>
</section>

