<div class="badge-container">
  <div class="badge-column">
    <script src="https://www.hackthebox.eu/badge/167605"></script>
  </div>
  <div class="badge-column">
    <script src="https://tryhackme.com/badge/62858"></script>
  </div>
</div>


<section class="blog_section">
  <div class="container">
      <div class="blog_content">
          <div class="owl-carousel owl-theme">
              <div class="blog_item">
                  <div class="blog_image">
                      <img class="img-fluid" src="/images/WriteUps/BS/logo.png" alt="images not found">
                      <span><i class="icon ion-md-create"></i></span>
                  </div>
                  <div class="blog_details">
                      <div class="blog_title">
                          <h5><a href="/posts/HTB/2023-07-22-[HTB]BroScience">BroScience!!</a></h5>
                      </div>
                      <ul class="no-bullets">
                          <li><i class="icon ion-md-person"></i>HacktheBox</li>
                          <li><i class="icon ion-md-calendar"></i>July 22, 2023</li>
                      </ul>
                      <p>BroScience tests our patience in one of HTB's latest retired machines</p>
                  </div>
              </div>                        
              <div class="blog_item">
                  <div class="blog_image">
                      <img class="img-fluid" src="/images/WriteUps/Socket/socket.png" alt="images not found">
                      <span><i class="icon ion-md-create"></i></span>
                  </div>
                  <div class="blog_details">
                      <div class="blog_title">
                          <h5><a href="/posts/HTB/2023-07-22-[HTB]Socket">Socket Writeup !_!</a></h5>
                      </div>
                      <ul class="no-bullets">
                          <li><i class="icon ion-md-person"></i>HacktheBox</li>
                          <li><i class="icon ion-md-calendar"></i>July 22, 2023</li>
                      </ul>
                      <p>I love Socket Programming, so you already know what is about to happen...</p>
                  </div>
              </div>                        
              <div class="blog_item">
                  <div class="blog_image">
                      <img class="img-fluid" src="/images/WriteUps/Derailed/logo.png" alt="images not found">
                      <span><i class="icon ion-md-create"></i></span>
                  </div>
                  <div class="blog_details">
                      <div class="blog_title">
                          <h5><a href="/posts/HTB/2023-07-22-[HTB]Derailed">Derailed</a></h5>
                      </div>
                      <ul class="no-bullets">
                          <li><i class="icon ion-md-person"></i>HacktheBox</li>
                          <li><i class="icon ion-md-calendar"></i>July 22, 2023</li>
                      </ul>
                      <p>Nearly got Derailed on this one!</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>