<style>
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
}

code {
  color: #333;
}

p {
	color: #A8D8B9;
}
  /* Add styles for the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #6CC644;
  color: white;
  font-weight: bold;
}

/* Add styles for the section headers */
h2 {
  background-color: #6CC644;
  color: white;
  padding: 10px;
  text-align: center;
}

.small_blog_box {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the box horizontally, if needed */
}

.small_blog_box img {
  max-width: 100%;
}

.small_blog_box h5 {
  margin: 0;
  padding: 0;
}

.small_blog_box ul {
  list-style: none;
  padding: 0;
}

.small_blog_box li {
  margin-bottom: 5px;
  color: orangered;
}

.small_blog_box p {
  margin: 10px 0;
  text-align: left;
}

.small_blog_box a {
  display: block;
  text-align: center;
}
</style>

<h1><u>Hacking</u> <u>Re-Coded</u></h1>

<img src="images/huh.png" alt="Meeee" style="margin: auto;">

<div style="align: center; justify-content: center; align-content: center;">

<div style="display: flex; justify-content: center; margin-top:10px;">
  <div style="color: white; padding: 10px; width: 50%;">
    <p style="text-align: left; font-size: 1.2em;">
    Welcome to Hacking Re-Coded! This series aims to make us a better Ethical Hacker and Programmer. What do I mean by that? Well, we are not going to be creating a new Social Media Site. Instead, we'll focus on coding tools/apps to help penetrate systems and networks. No reliance on pre-existing tools; we'll create our own to gain a deeper understanding. Except for the first few boxes. A few excellent tools like WireShark and Burp will be used as this will help clear any confusion around protocols as we move along.<br><br>
    Hackthebox/TryHackMe/ even our Home Lab will be our training ground, preparing us for careers as Ethical Hackers and Penetration testers. A Penetration test, or "Pentest," involves authorized attacks on computer systems to identify vulnerabilities and strengthen security. Why would someone approve of this approach? Actually, it's a proactive method for enhancing IT security. By simulating a breach from a Black Hat perspective within our own networks/systems, we can identify vulnerabilities and promptly remediate those areas. It's essential to remember that Cybersecurity is a multi-faceted challenge with various aspects to consider, and this approach is just one of the effective strategies to address it.<br><br>Don't consider the series/tools as reinventing the wheel but rather gaining a better and deeper understanding of the tools we use daily.
    We'll follow the crawl-walk-run method, starting slow and gradually building coding techniques, like Threading/Multiprocessing and networking concepts. Network programming and protocol breakdowns will be a major focus.<br><br>
    Coding can be intimidating, especially in the hacker space, but fear not! We'll go into detail with heavily commented code, and I encourage you to code along and add your own tweaks. Only the terminal will be used, no GUI distractions.<br><br>
    We'll primarily use Python, but we won't shy away from other languages if given the oppurtunity as each is unique in their own way! A new twist awaits with Functional Programming and my favorite language, Haskell. This hold the library Hakyll, which is the static site generator powering this blog. Get ready to dive into the world of ethical hacking and coding! 
  </div>
</div>

<div class="toolsList">
  <h2>What does a Hacker's toolkit look like?</h2>
  <table>
    <tr>
      <th>Port Scanners</th>
      <th>Recon Gadgets</th>
    </tr>
    <tr>
      <td>As an Ethical Hacker; port scanning is something we should become familiar with as we are going to be doing reconnaissanceces to fingerprint the target to find ports/services and other useful info.</td>
      <td>Recon gadgets will consist of quick tools/scripts to help automate the process of information gathering i.e. if FTP/SMB have anonymous access allowed.</td>
    </tr>
    <tr>
      <th>NetBear TCP/UDP Network Utility</th>
      <th>Web Server Directory Mapping</th>
    </tr>
    <tr>
      <td>Our Netcat lookalike NetBear will be our own version to read/write to and from TCP/UDP sockets. Who doesn't love Bear's!!!</td>
      <td>When dealing with Web apps we want to know hidden details so we will attempt to map the service.</td>
    </tr>
    <tr>
      <th>Web Proxy</th>
      <th>Online/Offline Username/Password Bruters</th>
    </tr>
    <tr>
      <td>Moreso we need a way to intercept web traffic for analysis and fuzzing data; our Web Proxy will take care of that!</td>
      <td>A way to automate username/password spraying. Offline cracking on local machine and Online web portal attacks.</td>
    </tr>
    <tr>
      <th>Debuggers &amp; DLL Injection</th>
      <th>Windows/Linux Priviledge Escalation</th>
    </tr>
    <tr>
      <td>A few machines will give us the oppurtunity to debug applications allowing us manipulate all sorts of different things including DLL Injection.</td>
      <td>Once we gain initial access, we want different tools/scripts to help automate or at least help point us in the right direction for escalating priviledges. Scripts like WinEnum/LinEnum.</td>
    </tr>
  </table>
</div>

<h1><u>This only scratches the surface...</u></h1>


</div>

<div class="small_blog_box">
  <img class="img-fluid" src="/images/CodeUps/lame.png" alt="images not found">
  <div class="blog_details">
    <h5><a href="/posts/codeUps/2023-07-22-[HTB]Lame">Lame CodeUp</a></h5>
    <ul class="no-bullets">
      <li><i class="icon ion-md-person"></i>HacktheBox</li>
      <li><i class="icon ion-md-calendar"></i>Jul 22, 2023</li>
    </ul>
    <p>The first machine and our first CodeUp. Even though this is the first one, it does not hold any punches. We get to tackle protocols like FTP/SMB, build our port scanner and even start NetBear</p>
    <a href="/posts/codeUps/2023-07-22-[HTB]Lame">Read More...</a>
  </div>
</div>




$partial("templates/post-list.html")$