<link rel="stylesheet" href="/css/breezeDark.css">


<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>